* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background: lightblue;
    padding: 1%;
}

.title{
    text-align: center;
}

p{
    padding: 2px 0 0 0;
}

.heading {
    padding: 5%;
    font-size: 2vw;
    background: darkcyan;
}

.heading h1,
.heading h3 {
    width: fit-content;
    margin: auto;
    padding: 5px;
    color: white;
}

.container {
    background: darkcyan;
    display: grid;
}

#back-btn{
    position: relative;
    width: 50px;
    top: 13px;
    left: 10px;
    border-radius: 20px;
}


.btn {
    height: 30px;
    font-weight: bolder;
    background: blueviolet;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black,-1px -1px 5px white;
    transition: color .3s ease, box-shadow .3s ;
}

.btn:hover {
    background-color: navy;
}

.ask {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #271702, -5px -5px 20px white;
    margin: 4% auto 10% auto;
    padding: 5%;
}

.ask div{
    padding: 4% 0%;
}

.ask-info {
    height: 30px;
    text-align: center;
    width: 49%;
}

.subNo-submit{
    width: 60%;
}

.table.active {
    display: inline-block;
}

.table {
    display: none;
    width: fit-content;
    background-color: lightblue;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 5px 5px 20px #271702, -5px -5px 20px white;
    border-radius: 35px;
}

th,
td {
    text-align: center;
    padding: 7px;
    border: black;
    width: fit-content;
}

.box {
    text-align: center;
    background-color: white;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

#result, #buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#calculate-btn, #reset-btn{
    width: 30%;
    margin: 10px 10px;
}

.row-bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 10px;
    width: 150px;
}

#topRowBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

#topRowBox div{
    margin: 1%;
}


.ask.hide {
    display: none;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 1%;
    background: darkcyan;
}

#dev-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #271702, -5px -5px 20px white;
    padding: 1%;
}

.info-sections{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
}

.info-sections > div {
    height: fit-content;
    margin: 2px;
}

#info-content{
    width: 80%;
}

#info-image{
    width: 20%;
}

.info-sections img{
    width: 90%;
    border-radius: 8%;
    box-shadow: 0 0 10px black;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
}

#social-links{
    display: flex;
    flex-direction: row;
}

#social-links div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px 10px;
    border-radius: 10px;
    color: darkcyan;

}

#social-links div:hover{
    background: darkcyan;
    color: lightblue;
    cursor: pointer;
}

#social-links a{
    color: inherit;
}

@media only screen and (max-width: 750px) {
    header h1{
        font-size: 7vw;
    }
    .heading{
        font-size: 5vw;
    }
    #highlighted-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .heading span{
        display: block;
    }
    .ask{
        font-size: 4vw;
        margin: 15% auto;
    }
    #dev-info{
        width: 95%;
    }
    .info-sections{
        flex-direction: column;
    }
    #info-image{
        width: 95%;
    }
    #info-image img{
        width: 30%;
    }
    #info-content{
        width: 95%;
    }
    footer{
        flex-direction: column-reverse;
        text-align: center;
    }
    footer div{
        padding: 2%;
    }
}