:root{
    --color-primary: #020617;
    --color-secondary:  #4f46e5;
    --color-secondary-hover: #6366f1;
    --body-background-01: #eef2ff;
    --body-background-02: #a5b4fc;
    --form-background: #f8fafc;
    --input-background: #f8fafc;
    --input-color: #020617;
    --input-focus-bg: #f8fafc;
    --input-focus-border: #4f46e5;
    --border: #d1d5db;
    --form-shadow: #a5b4fc;
    --btn-color: #f8fafc;
    --hr-bg-color: white;

    --mode-toogle-btn-size: 4.5vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    min-width: 300px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(175deg ,var(--body-background-02)  0%,var(--body-background-01) 20% ,var(--body-background-01) 80% ,var(--body-background-02)  100%);
    font-family: sans-serif;
    color: var(--color-primary);
}

header{
    display: flex;
    background: transparent;
    color: var(--color-primary);
    padding: 10px 2.5%;
    justify-content: space-between;
    align-items: center;
}

header button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../assets/sun-moon.svg);
    background-size: cover;
    cursor: pointer;
    border: none;
}

header button:hover{
    opacity: 0.8;
}

main{
    flex: 1;
    text-align: center;
    align-content: center;
}

form{
    background-color: var(--form-background);
    border-radius: 10px;
    border: 1px solid var(--border);
    box-shadow: 0px 0px 10px -5px var(--form-shadow);
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
}

input, select{
    background-color: var(--input-background);
    color: var(--input-color);
    border: 1px solid var(--border);
    outline: none;
}

#suject-input-form{
    display: flex;
    flex-direction: column;
    height: 8em;
    justify-content: space-evenly;
    align-items: center;
}

#suject-input-form h4{
    font-weight: 500;
}

#suject-input-form input[type="number"]{
    width: 80%;
    border-radius: 5px;
    height: 2em;
    padding: 0.75em;
}

#suject-input-form input[type="number"]:focus{
    background-color: var(--input-focus-bg);
    border: 2px solid var(--input-focus-border);
}

#suject-input-form input[type="submit"]{
    width: 25%;
    padding: 0.35em 0.75em;
    font-size: 0.9rem;
}

.btn{
    color: var(--btn-color);
    background-color: var(--color-secondary);
    border-radius: 5px;
    border: none;
}

.btn:hover{
    background-color: var(--color-secondary-hover);
    cursor: pointer;
    margin: 0;
}

/*  */

#gpa-calc-form, #cgpa-calc-form{
    padding: 1.5vh 2%;
}

.hide{
    display: none !important;
}

table{
    display: inline-block;
    width: fit-content;
    border-collapse: collapse;
}

main table th{
    font-size: 0.9rem;
}

th, td{
    padding: 2px;
}

table input, table select{
    width: 100%;
    padding: 0.25rem;
}

table input:focus, select:focus{
    background-color: var(--input-focus-bg);
    border: 1px solid var(--input-focus-border);
}

table input:enabled:hover, select:hover{
    cursor: pointer;
}

#result, #prev-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#prev-info{
    flex-direction: column;
    gap: 0px;
    margin-bottom: 10px;
}

#prev-info label{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
}

#prev-info input{
    width: 50%;
    padding: 0.25rem;
    margin: 0 0 5px;
}

#result input {
    width: 25%;
    padding: 0.25rem;
    margin: 0 0 5px;
    flex: 1;
}

#add-more-btn{
    display: flex;
    flex: 1;
    justify-content: left;
}

#add-more-btn button{
    padding: 0.35rem;
    color: var(--input-color);
    background-color: var(--body-background-01);
    border: 1px solid var(--border);
    font-size: 0.75rem;
    font-weight: 600;
    text-decoration-line: none;
    transition: background-color .2s;
}

#add-more-btn button:hover{
    background-color: var(--body-background-02);
    text-decoration-line: underline;
}

#reset-btn, #submit-btn{
    width: 25%;
    padding: 0.35em 0.75em;
    font-size: 0.95rem;
    transition: background-color .2s;
}

/*  */

footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

footer div{
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 10px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

footer ul li{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: var(--color-secondary);
}

footer ul li a{
    color: inherit;
    display: inline-block;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: color .2s;
}

footer ul li a:hover{
    color: var(--color-secondary-hover);
}

hr{
    width: 95%; 
    align-self: center;
    border: 1px solid var(--hr-bg-color);
}

/* Dark Mode */

.dark-mode{
    --color-primary: #f8fafc;
    --color-secondary:  #4f46e5;
    --color-secondary-hover: #6366f1;
    --body-background-01: #1b1b1f;
    --body-background-02: #1b1b1f;
    --form-background: #202127;
    --input-background: #3c3f44;
    --input-color: #e2e8f0;
    --input-focus-bg: #32363f;
    --input-focus-border: #3c3f44;
    --border: #1b1b1f;
    --form-shadow: #1b1b1f;
    --btn-color: #e2e8f0;
    --hr-bg-color: black;
}