* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: max(600px, 100vh);
    width: max(300px, 100%);
    display: flex;
    flex-direction: column;
    background: linear-gradient(175deg ,#a5b4fc  0%,#eef2ff 20% ,#eef2ff 80% ,#a5b4fc  100%);
    font-family: sans-serif;
    color: #020617;
}

header{
    background: transparent;
    color: #312e81;
    padding: 5px 2.5%;
}

main{
    flex: 1;
    text-align: center;
    align-content: center;
}

form{
    background-color: #f8fafc;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    box-shadow: 0px 0px 10px -5px #a5b4fc;
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
}

input, select{
    background-color: #f8fafc;
    border: 1px solid #cbd5e1;
    outline: none;
}

#suject-input-form{
    display: flex;
    flex-direction: column;
    height: 8em;
    justify-content: space-evenly;
    align-items: center;
}

#suject-input-form h4{
    font-weight: 500;
}

#suject-input-form input[type="number"]{
    width: 80%;
    border-radius: 5px;
    height: 2em;
    padding: 0.75em;
}

#suject-input-form input[type="number"]:focus{
    border: 2px solid #4f46e5;
}

#suject-input-form input[type="submit"]{
    width: 25%;
    padding: 0.35em 0.75em;
    font-size: 0.9rem;
}

.btn{
    color: #f8fafc;
    background-color: #4f46e5;
    border-radius: 5px;
    border: none;
}

.btn:hover{
    background-color: #6366f1;
    margin: 0;
}

/*  */

#gpa-calc-form{
    padding: 1.5vh 2%;
}

.hide{
    display: none !important;
}

table{
    display: inline-block;
    width: fit-content;
    border-collapse: collapse;
}

main table th{
    font-size: 0.9rem;
}

th, td{
    padding: 2px;
}

table input, table select{
    width: 100%;
    padding: 0.25rem;
}

table input:focus, select:focus{
    border: 1px solid #4f46e5;
}

table input:enabled:hover, select:hover{
    cursor: pointer;
}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#result input{
    padding: 0.25rem;
    margin: 0 0 5px;
    flex: 1;
    border: 1px solid #a0a5ab;;
} 

#reset-btn, #submit-btn{
    width: 25%;
    padding: 0.35em 0.75em;
    font-size: 0.9rem;
}

/*  */

footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

footer div{
    text-align: center;
    font-size: 0.75rem;
    padding-bottom: 10px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

footer ul li{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #4338ca;
}

footer ul li a{
    color: inherit;
    display: inline-block;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

footer ul li a:hover{
    color: #6366f1;
}